<!DOCTYPE html>
<html>
  <head>
    <title>Hangman</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag '/favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">

  </head>
  <body>
    <%= yield %>
  </body>
</html>
